<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>ALTOMOBILE</TITLE>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet" />
    <style>
        body {
            font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
            letter-spacing: 3px;
        }

        td {
            border: 1px solid #333;
            padding: 10px;
        }
    </style>
</head>

<body>
    <button onclick="location.href='search1'">零件壞掉</button>
    <button onclick="location.href='search2'">最佳Dealer</button>
    <button onclick="location.href='search3'">最佳Brand</button>
    <button onclick="location.href='search4'">賣最好月</button>
    <button onclick="location.href='search5'">最廢Dealer</button>
    {% block content %}
    {% endblock %}
</body>

<footer>

</footer>

</html>