{% extends "home/home.html" %}
{% block content %}
<div style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;margin:10px 0px;"></div>

<form action="/search2" method="POST">
    {% csrf_token %}
    <div>
        Detail:
        <p style="margin: 10px 20px;">查詢過去一年<b>最佳經銷商</b>。</p>
    </div>
    <div style="font-size: 14px;margin: 20px;">
        列出前<input name="dealerN" type="number" min="1" width="20px">名經銷商。
    </div>
    <button type="submit" style="margin: 10px 20px;">查詢</button>
</form>

{% if request.POST %}
<h3 style="margin: 10px 20px;">過去一年最佳經銷商</h3>

<table style="text-align: center;border: 1px solid black;position: relative;left: 20px;">
    <tr>
        <td style="background-color: #333; color: #fff;">DEALER</td>
        <td style="background-color: #333; color: #fff;">總銷售額</td>
    </tr>
    {% for item in dealer_rank %}
    <tr>
        <td>{{ item.0 }}</td>
        <td>{{ item.1 }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}