{% extends "home/home.html" %}
{% block content %}
<div style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;margin:10px 0px;"></div>

<form action="/search1" method="POST">
    {% csrf_token %}
    <div>
        Detail:
        <p style="margin: 10px 20px;">發現<b>供應商</b>在<b>某段期間</b>製造的<b>零件</b>有瑕疵，
            <br>查詢每輛含有該零件的車子及購買該車的顧客。</p>
    </div>
    <div style="font-size: 14px;margin: 20px;">
        有瑕疵零件:<select name="part">
            <option value="">----------</option>
            <option value="engine">engine</option>
            <option value="transmission">transmission</option>
            </select> <br>
        供應商:{{ act1form.supplier }} <br>
        製造日期:{{ act1form.sDate }} ~ {{ act1form.fDate }}
    </div>
    <button type="submit" style="margin: 10px 20px;">查詢</button>
</form>

{% if request.POST %}
<p style="margin: 10px 20px;"><b>{{ supplier_name }}</b>在<b>{{ start_date }}~{{ end_date }}</b>製造的<b>{{ broken_part }}</b>有瑕疵</p>

<table style="text-align: center;border: 1px solid black;position: relative;left: 20px;">
    <tr>
        <td style="background-color: #333; color: #fff;">VIN</td>
        <td style="background-color: #333; color: #fff;">CUSTOMER</td>
    </tr>
    {% for sale in sale_list %}
    <tr>
        <td>{{ sale.VIN }}</td>
        <td>{{ sale.CID }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}