{% extends "home/home.html" %}
{% block content %}
<div style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;margin:10px 0px;"></div>

<form action="/search4" method="POST">
    {% csrf_token %}
    <div>
        Detail:
        <p style="margin: 10px 20px;">查詢<b>車體風格</b>最暢銷的<b>月份</b>。</p>
    </div>
    <div style="font-size: 14px;margin: 20px;">
        車體風格:<select name="bodystyle">
            <option value="">--------</option>
            <option value="1">SUV</option>
            <option value="2">4-door</option>
            <option value="3">wagon</option>
        </select> <br>
    </div>
    <button type="submit" style="margin: 10px 20px;">查詢</button>
</form>
{% if sum_n == 0 and bodystyle%}
<h2 style="margin: 10px 20px;">尚未有 {{model_list.0.get_body_style_display}} 售出。</h2>
{% elif bodystyle %}
<h2 style="margin: 10px 20px;">{{model_list.0.get_body_style_display}}在 {{best_month}}月 最暢銷。</h2>
{% endif %}

{% endblock %}